body{
	background:#e2e2e2 !important;
	font-family: 'Architects Daughter', cursive;
	 font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
}

.navbar{
    background-color: transparent;
    font-family: 'Architects Daughter', cursive;
    padding: 20px 0;
}

.navbar .navbar-brand{
    font-size: 30px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item .nav-link{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    margin-left:15px;
      
}
.uname{
	text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    position: relative;
      color: #ffffff;
       margin-left:15px;
     
}

.navbar .nav-item .nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    transition: all 0.5s ease;
    transform: scale(0);
}
.navbar .nav-item .nav-link.active::before,
.navbar .nav-item .nav-link:hover::before{
    transform: scale(1);
}
.bg-primary{
	background:#77D970 !important;
}

.my-card{
	padding:20px;
	background:#ffffff;
	border-radius:10px;
}



/*-------------       sidebar   -------------     */ 

@media only screen and (max-width:600px){

	.sidebar{
		display:none;
		width:80% !important;
		background:white;
		height:100vh;
		position:fixed;
		padding-top:20px;
	}
	.content{
		margin-left:0% !important;
	}
}

.sidebar{
	width:18%;
	background:#ffffff;
	height:100%;
	position:fixed;
	padding-top:45px;
}

.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;
	color:gray;
}
.sidebar a i{
	margin-right:25px;
}
.sidebar a:hover{
	background:#e2e2e2;	
}
.sidebar .divider{
	height:.5px;
	width:100%;
	background:#e2e2e2;
	margin-top:10px;
}
.content{
		margin-left:20%;
}
.sidebar .cross-btn{
	position:absolute;
	top:0;
	right:35px;
	font-size:36px;
	cursor:pointer;
	color:gray;
}

