<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/consumer/base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>dashboard</title>
</head>
<body>
<section>
	
	<div class="card mr-4">
		<div class="card-body">
		<h1 class="text-center">Order Waste</h1>
			<div class="container-fluid mt-1">
				
				<div class="row">
				<div class="col-md-8 offset-md-2">
				
				<form th:action="@{/cuser/order-waste}"
					  th:object="${chistory}"
					  enctype="multipart/form-data"
					  method="POST"
					  class="mt-2">
				
				
				
				<div class="input-group mt-4">
				
					<div class="input-group-prepend">
						<div class="input-group-text mr-3">
						<i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
						</div>
						
					</div>
					<input type="text" class="form-control" id="name" name="email" placeholder="Enter username here"/>
				</div>
				
				
			<div class="input-group mt-4">
				
					<div class="input-group-prepend">
						<div class="input-group-text mr-3">
						<i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i>
						</div>
						
					</div>
					<input type="text" class="form-control" id="wasteType" name="wasteType" placeholder="Enter waste type here"/>
			</div>
				
			<div class="input-group mt-4">
				
					<div class="input-group-prepend">
						<div class="input-group-text mr-3">
						 <i class="fa fa-balance-scale fa-lg" aria-hidden="true"></i>
						</div>
						
					</div>
					<input type="number" class="form-control" id="weight" name="weight" placeholder="Enter weight here"/>
			</div>
			
			<div class="input-group mt-4">
				
					<div class="input-group-prepend">
						<div class="input-group-text mr-3">
						<i class="fa fa-address-book fa-lg" aria-hidden="true"></i>
						</div>
						
					</div>
					<input type="text" class="form-control" id="address" name="address" placeholder="Enter location here"/>
			</div>
			
			<div class="input-group mt-4">
				
					<div class="input-group-prepend">
						<div class="input-group-text mr-3">
						<i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
						</div>
						
					</div>
					<input type="tel" class="form-control" id="contact" name="contact" placeholder="Enter contact no here"/>
			</div>
			
			<div class="input-group mt-4">
				
					<div class="input-group-prepend">
						<div class="input-group-text mr-3">
						<i class="fa fa-calendar fa-lg" aria-hidden="true"></i>
						</div>
						
					</div>
					<input type="date" class="form-control" id="date" name="date" placeholder="Enter order date here"/>
			</div>
			
			
			<div class="container text-center mt-5 mb-2">
			<button type="submit" onclick ="orderSuccess()" class="btn btn-outline-dark">Placed order</button>
			</div>
				</form>
				
				
				</div>
				</div>
		
			</div>
		</div>
	</div>
	    
</section>

</body>
</html>